<?xml version="1.0"?>
<launch>

  
  <!-- run publisher and subscriber nodes from scripts -->
  <node name="pole_dyn" pkg="cartpole_gazebo" type="pole_dyn.py" respawn="false" output="log" />
  <node name="key_control_cart" pkg="cartpole_gazebo" type="key_control_cart.py" respawn="false" output="screen" />


</launch>
